# Ignore Aldec Riviera-PRO simulation databases
lib/
riviera/
tb2/
tbold/
riscv_tb/
*.cmd
*.dataset
*.vstf
*.asdb
*.acdb
*.awc
*.error
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.swq
*.mgf
*.gen
*.info
*.lib
*.cfg
*.bin
*.off
*.ff
*.out
*.so

*asdbw*
*tmp
*.cmd
*ref 


# Ignore Siemens Questa / ModelSim databases
work/
msim/
*.wlf
*.ucdb
transcript
work sessions/

# Ignore all simulation log files and temporary dumps
*.log
*.summary
*.rpt
*.swn
*.swo
*.swp
